body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.block {
    display: flex;
    flex-wrap: wrap;
}
.users {
    border: 2px solid #ddd;
    padding: 10px;
    margin: 10px 0 0 100px;
    width: 35%;
    background-color:lightblue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri,serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.users button {

    display: block;
    margin-top: 10px;
    text-align: center;
    background-color: orange;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
}
h1{
    margin-right: 50px;
}